# Use graphical install
graphical

lang ru_RU.UTF-8
keyboard --xlayouts='ru','us' --switch='grp:alt_shift_toggle'
timezone Europe/Samara --utc

# Автоматическая разметка (универсально для sda/vda/nvme0n1)
clearpart --all --initlabel
autopart --type=lvm

bootloader --append="rhgb quiet"

# Пароли (замените хеши на свои!)
rootpw --iscrypted $y$j9T$VD4/SZpNULK0GR6eH5.I31$35tA7ZQ.CFQ3Y.2FBcxx6FLo3.oNuEQHsc0ZIBJUzU9
user --name=operatores --groups=wheel --iscrypted --password=$y$j9T$VD4/SZpNULK0GR6eH5.I31$35tA7ZQ.CFQ3Y.2FBcxx6FLo3.oNuEQHsc0ZIBJUzU9

%packages --ignoremissing
@^desktop-environment
@desktop-env-packages
nano
mc
chrony
openssh-server
# network-manager-applet
%end

%post --log=/root/ks-post.log
# Включаем службы
systemctl enable sshd
systemctl enable chronyd
systemctl set-default graphical.target

localectl set-x11-keymap us,ru pc105 ,grp:alt_shift_toggle

# Уникальное имя хоста по MAC-адресу первого интерфейса
# Имя хоста
IFACE=$(ls /sys/class/net/ 2>/dev/null | grep -v lo | head -1)
if [ -n "$IFACE" ]; then
    MAC=$(cat /sys/class/net/$IFACE/address)
    SUFFIX=$(echo "$MAC" | tr -d ':' | tail -c 5)
    HOST="apm-${SUFFIX}"
else
    HOST="apm-fallback"
fi
echo "$HOST" > /etc/hostname
echo "127.0.0.1 $HOST localhost" > /etc/hosts
hostname "$HOST"

# === УСТАНОВКА ЯНДЕКС БРАУЗЕРА ===
echo "nameserver 8.8.8.8" > /etc/resolv.conf
echo "nameserver 1.1.1.1" >> /etc/resolv.conf

cat > /etc/yum.repos.d/yandex-browser.repo << 'EOF'
[yandex-browser]
name=Yandex Browser Stable
baseurl=https://repo.yandex.ru/yandex-browser/rpm/stable/x86_64/
enabled=1
gpgcheck=0
EOF

echo "[Yandex] Cleaning cache & making cache..." >> /root/ks-post.log
dnf clean all >> /root/ks-post.log 2>&1
dnf makecache >> /root/ks-post.log 2>&1 || true

echo "[Yandex] Installing package..." >> /root/ks-post.log
dnf install -y --nogpgcheck yandex-browser-stable >> /root/ks-post.log 2>&1

echo "[R7-Office] Installing package..." >> /root/ks-post.log
dnf install -y r7-release >> /root/ks-post.log 2>&1
dnf install -y r7-office >> /root/ks-post.log 2>&1
dnf install -y R7Grafika >> /root/ks-post.log 2>&1

if [ $? -eq 0 ]; then
    echo "[Yandex] SUCCESS" >> /root/ks-post.log
    xdg-settings set default-web-browser yandex-browser.desktop 2>/dev/null || true
else
    echo "[Yandex] FAILED. Check /root/ks-post.log for details" >> /root/ks-post.log
fi
# ====================

# Очистка кеша
dnf clean all
%end

reboot